*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

a{
  color: #FFF;
}

header{
    width: 100%;
    height: 90px;
    /* DDB8EA 1B9CFC C76CE8 3B3B98*/
    background-color: #3B3B98;
    color: #FFF;
    position: static;
    top: 0%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 99;
}


.logo{
    font-size: 24px;
    cursor: pointer;
}

.logo img{
    width: 90px;
}

/* */

main{
    height: calc(100vh - 300px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.success{
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #69C9A9;
    border-radius: 0px 25px;    
    box-shadow: inset 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
    color: #FFF;
}

.success h1{
    font-size: 32px;
    margin-bottom: 25px;
}

.success span{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
}

.success a{
    width: 300px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    color: #000;
    background-color: #FFF;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
    transition: ease 0.4s;
}

.success a:hover{
  background-color: #000;
  color: #FFF;
}

@media (max-width: 450px) {
    
    .success{
        height: 250px;
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .success h1{
        font-size: 28px;
        margin-bottom: 25px;
    }
    
    .success span{
        font-size: 16px;
        margin-bottom: 40px;
    }
    
    .success a{
        width: 250px;
        padding: 15px;
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        border: none;
    }
}

@media (max-width: 395px) {
    
    .success{
        height: 200px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .success h1{
        font-size: 24px;
        margin-bottom: 25px;
    }
    
    .success span{
        font-size: 14px;
        margin-bottom: 35px;
    }
    
    .success a{
        width: 230px;
        padding: 10px;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
        border: none;
    }
}

/************************** FOOTER ****************************/

footer{
    width: 100%;
    background-color: #1e1e6d;
    color: #FFF;
}

aside{
  height: 100px;
}

.footer-menu{
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.footer-lists{
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  width: 20%;
  min-width: 200px;
  max-width: 350px;
}

.footer-menu img{
  height: 100px;
}

.aside-logo{
  margin-left: 10%;
}

.footer-menu p{
  font-size: 16px;
  margin-bottom: 15px;
}

.footer-menu ul li{
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-menu ul li:last-child{
  margin-bottom: 0;
}

.sitemap a:hover{
  text-decoration: underline;
}

.social-icons{
  display: flex;
}

.social-icons i{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 16px;
  margin-right: 5px;
  background-color: #000;
}

.social-icons i:hover{
  background-color: #FFF;
  color: #3B3B98;
}

footer .final{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  font-size: 12px;
}

.final{
  border-top: 1px solid #ffffff2f;
  border-top-style: inset;
}

/* Footer Mobile */

@media (max-width: 550px) {
    
  footer{
    width: 100%;
    background-color: #1e1e6d;
    color: #FFF;
  }

  aside{
    height: 110px;
  }

  .footer-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }

  .footer-lists{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  
  .aside-logo{
    margin: 0;
  }

  .footer-menu img{
    height: 100px;
  }

  .footer-menu p{
    font-size: 16px;
    margin-bottom: 15px;
  }

  .footer-menu ul li{
    margin-bottom: 10px;
    font-size: 14px;
  }

  .footer-menu ul li:last-child{
    margin-bottom: 0;
  }

  .sitemap a:hover{
    text-decoration: underline;
  }

  .social-icons{
    display: flex;
  }

  .social-icons i{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 16px;
    margin-right: 5px;
    background-color: #000;
  }

  .social-icons i:hover{
    background-color: #FFF;
    color: #3B3B98;
  }

  .final{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 12px;
  }

  .final{
    border-top: 1px solid #ffffff2f;
    border-top-style: inset;
  }

}